@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,400,900,800i");
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  overflow: scroll;
  --slides-per-page: 2;
  margin: 0;
  overflow: scroll;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  color: hsl(283deg, 53%, 77%);
  position: absolute;
  top: 1em;
  right: 1em;
  left: 1em;
  bottom: 1em;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  height: 77px;
}

div.header img {
  float: left;
  position: relative;
  object-fit: contain;
  height: 46px;
  object-fit: contain;
  position: relative;
  padding: 1px;
}

img {
  padding: 5px;
  width: 80px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0);
}

.container {
  position: relative;
  width: 200px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

a {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

#hero-slides {
  --page: 0;
  height: 49vh;
  background: hsl(210deg, 23%, 19%);
  background: linear-gradient(90deg, hsl(210deg, 13%, 28%) 0%, hsl(210deg, 23%, 19%) 100%);
  overflow: auto;
  overscroll-behavior-y: contain;
}
#hero-slides #header1 {
  height: 12vh;
  line-height: 12vh;
  padding: 0 3vw;
  position: relative;
}
#hero-slides #header1 #logo {
  font-size: 2.5vh;
  font-style: italic;
}
#hero-slides #header1 #logo:before {
  content: "The";
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 0.4em;
}
#hero-slides #header1 #logo:after {
  content: "Wall";
  text-transform: uppercase;
  font-weight: 800;
}
#hero-slides #header1 #menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0 3vw;
}
#hero-slides #header1 #menu:before {
  font-size: 1.75vh;
  content: "Play Demo";
  margin-right: 0.5em;
  text-transform: uppercase;
}
#hero-slides #header1 #menu #hamburger {
  display: inline-block;
}
#hero-slides #header1 #menu #hamburger .slice {
  background: hsl(0deg, 0%, 100%);
  height: 0.2vh;
  width: 1vw;
}
#hero-slides #header1 #menu #hamburger .slice:not(:last-child) {
  margin-bottom: 0.5vh;
}
#hero-slides #slides-cont {
  position: relative;
  --button-height: 6vh;
  --button-spacing: 0.2vh;
}
#hero-slides #slides-cont .button {
  width: 5vw;
  height: var(--button-height);
  background: hsl(204deg, 90%, 50%);
  position: absolute;
  right: 5.375vw;
  top: 38vh;
  z-index: 0;
  cursor: pointer;
}
#hero-slides #slides-cont .button:before, #hero-slides #slides-cont .button:after {
  line-height: var(--button-height);
  position: absolute;
  margin-left: -0.25vw;
  pointer-events: none;
  transform: scale(0.75, 1.5);
  transition: 125ms ease-in-out;
}
#hero-slides #slides-cont .button:before {
  left: 50%;
}
#hero-slides #slides-cont .button:after {
  opacity: 0;
}
#hero-slides #slides-cont .button:hover:before, #hero-slides #slides-cont .button:hover:after {
  transition: 250ms ease-in-out;
}
#hero-slides #slides-cont .button:hover:before {
  opacity: 0;
}
#hero-slides #slides-cont .button:hover:after {
  left: 50% !important;
  opacity: 1;
}
#hero-slides #slides-cont #next {
  margin-top: calc(-1 * (var(--button-height) + var(--button-spacing)));
}
#hero-slides #slides-cont #next:before, #hero-slides #slides-cont #next:after {
  content: ">";
}
#hero-slides #slides-cont #next:after {
  left: 30%;
}
#hero-slides #slides-cont #next:hover:before {
  left: 70%;
}
#hero-slides #slides-cont #prev {
  margin-top: var(--button-spacing);
  opacity: calc(var(--page) + 0.5);
  transition: 500ms opacity;
}
#hero-slides #slides-cont #prev:before, #hero-slides #slides-cont #prev:after {
  content: "<";
}
#hero-slides #slides-cont #prev:after {
  left: 70%;
}
#hero-slides #slides-cont #prev:hover:before {
  left: 30%;
}
#hero-slides #slides-cont #next-catch,
#hero-slides #slides-cont #prev-catch {
  width: 10vw;
  height: 76vh;
  position: absolute;
  top: 0;
  z-index: 90;
}
#hero-slides #slides-cont #next-catch {
  right: 0;
}
#hero-slides #slides-cont #prev-catch {
  left: 0;
}
#hero-slides #slides {
  --slides-height: 40vh;
  width: auto;
  height: var(--slides-height);
  padding: 0 10vw;
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  z-index: 0;
  transform: translate3D(calc(var(--page) * -80vw), 0, 0);
  transition: 1500ms transform cubic-bezier(0.7, 0, 0.3, 1);
}
#hero-slides #slides .slide {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5vw;
  width: 24em;
  height: var(--slides-height);
  margin: 0 1.333em;
  background: hsl(210deg, 23%, 8%);
  color: white;
  background-size: cover;
  background-position: center;
  white-space: normal;
  word-break: break-word;
  position: relative;
}
#hero-slides #slides .slide:before {
  content: "";
  display: block;
  background: linear-gradient(180deg, hsla(209deg, 11%, 38%, 0) 0%, hsla(209deg, 36%, 20%, 0.7) 100%);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#hero-slides #slides .slide .number {
  position: absolute;
  top: 2em;
  left: 2em;
  filter: drop-shadow(0 2px 1px hsla(0deg, 0%, 0%, 0.5));
}
#hero-slides #slides .slide .number, #hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  vertical-align: middle;
}
#hero-slides #slides .slide .number:before, #hero-slides #slides .slide .number:after {
  display: inline-block;
  content: "";
  height: 0.133em;
  margin-top: -0.2em;
  background: hsl(0deg, 0%, 100%);
}
#hero-slides #slides .slide .number:before {
  width: 0;
  margin-left: 0;
}
#hero-slides #slides .slide .number:after {
  width: 3em;
  margin-left: 1em;
}
#hero-slides #slides .slide .body {
  position: absolute;
  bottom: 2em;
  left: 2em;
  right: 2em;
}
#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline {
  position: relative;
  bottom: 0;
  cursor: default;
}
#hero-slides #slides .slide:before,
#hero-slides #slides .slide .number:before,
#hero-slides #slides .slide .number:after,
#hero-slides #slides .slide .location,
#hero-slides #slides .slide .headline,
#hero-slides #slides .slide .link {
  transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
}
#hero-slides #slides .slide .location {
  font-weight: 100;
  margin-bottom: 1.5em;
  transition-delay: 60ms;
}
#hero-slides #slides .slide .headline {
  font-size: 2.667em;
  font-weight: 900;
  transition-delay: 50ms;
}
#hero-slides #slides .slide .link {
  display: inline-block;
  background: hsl(204deg, 90%, 50%);
  padding: 0.5em 1.25em;
  font-size: 1.33em;
  opacity: 0;
  position: absolute;
  bottom: -2em;
  pointer-events: none;
  transition-delay: 25ms;
}
#hero-slides #slides .slide.hover:before, #hero-slides #slides .slide:hover:before {
  opacity: 1;
}
#hero-slides #slides .slide.hover:before,
#hero-slides #slides .slide.hover .number:before,
#hero-slides #slides .slide.hover .number:after,
#hero-slides #slides .slide.hover .location,
#hero-slides #slides .slide.hover .headline,
#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover:before,
#hero-slides #slides .slide:hover .number:before,
#hero-slides #slides .slide:hover .number:after,
#hero-slides #slides .slide:hover .location,
#hero-slides #slides .slide:hover .headline,
#hero-slides #slides .slide:hover .link {
  transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
}
#hero-slides #slides .slide.hover .number:before, #hero-slides #slides .slide:hover .number:before {
  width: 3em;
  margin-right: 1em;
}
#hero-slides #slides .slide.hover .number:after, #hero-slides #slides .slide:hover .number:after {
  width: 0;
  margin-right: 0;
}
#hero-slides #slides .slide.hover .location, #hero-slides #slides .slide:hover .location {
  transition-delay: 0;
  bottom: 4em;
}
#hero-slides #slides .slide.hover .headline, #hero-slides #slides .slide:hover .headline {
  transition-delay: 100ms;
  bottom: 1.5em;
}
#hero-slides #slides .slide.hover .link, #hero-slides #slides .slide:hover .link {
  bottom: 0;
  opacity: 1;
  transition-delay: 250ms;
  pointer-events: auto;
}
#hero-slides #footer {
  height: 12vh;
  font-size: 1vh;
}
#hero-slides #footer #dribbble {
  border-radius: 2vh;
  position: absolute;
  bottom: 4vh;
  right: 4vh;
  transition: 300ms cubic-bezier(0.7, 0, 0.3, 1);
  padding-left: 1.5vh;
}
#hero-slides #footer #dribbble:before, #hero-slides #footer #dribbble:after {
  vertical-align: middle;
  transition: inherit;
}
#hero-slides #footer #dribbble:before {
  display: inline;
  content: "View original Dribbble";
  font-size: 2vh;
  opacity: 0;
  transform: translate3D(-200px, 0, 0);
}
#hero-slides #footer #dribbble:after {
  content: "";
  display: inline-block;
  width: 4vh;
  height: 4vh;
  margin-left: 1vh;
  background-image: url(https://alca.tv/static/u/82fde61b-28ef-4f17-976e-8f1abb5a1165.png);
  background-size: contain;
  background-position: center;
}
#hero-slides #footer #dribbble.hover, #hero-slides #footer #dribbble:hover {
  background: hsl(337deg, 78%, 61%);
}
#hero-slides #footer #dribbble.hover:before, #hero-slides #footer #dribbble:hover:before {
  opacity: 1;
  transform: translate3D(0, 0, 0);
  transition-delay: 50ms;
}
#hero-slides #footer #dribbble.hover:after, #hero-slides #footer #dribbble:hover:after {
  filter: saturate(0%) contrast(200%) brightness(200%) invert(100%);
}

#hero-slides #slides-cont .button {
  z-index: 1;
}

@media (min-width: 1200px) and (max-width: 1699px) {
  body {
    --slides-per-page: 3;
  }
  #hero-slides #slides .slide {
    font-size: 1vw;
  }
}
@media (min-width: 1700px) {
  body {
    --slide-per-age: 4;
  }
  #hero-slides #slides .slide {
    font-size: 0.75vw;
  }
}
body {
  background-color: #191919;
  font-family: "Open Sans", sans-serif;
}

.text {
  opacity: 0;
  position: absolute;
  z-index: 7;
  text-align: left;
  margin: -50px 0 0 -150px;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-weight: 700;
  -webkit-animation: on .6s ease-in-out 3.7s forwards;
  -moz-animation: on .6s ease-in-out 3.7s forwards;
  -o-animation: on .6s ease-in-out 3.7s forwards;
  animation: on .6s ease-in-out 3.7s forwards;
}
.text p {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: type .3s steps(60, end) 3.7s;
  -moz-animation: type .3s steps(60, end) 3.7s;
  -o-animation: type .3s steps(60, end) 3.7s;
  animation: type .3s steps(60, end) 3.7s;
}
.text p:nth-child(2) {
  -webkit-animation: type2 .5s steps(60, end) 3.7s;
  -moz-animation: type2 .5s steps(60, end) 3.7s;
  -o-animation: type2 .5s steps(60, end) 3.7s;
  animation: type2 .5s steps(60, end) 3.7s;
}
.text button {
  border: 0;
  opacity: 0;
  background: #191919;
  color: #e7482c;
  border: 1px solid #191919;
  letter-spacing: 2px;
  padding: 0.5rem 2.5rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  -webkit-animation: on .6s ease-in-out 4s forwards;
  -moz-animation: on .6s ease-in-out 4s forwards;
  -o-animation: on .6s ease-in-out 4s forwards;
  animation: on .6s ease-in-out 4s forwards;
}
.text button:hover {
  background: #e7482c;
  color: #191919;
  border: 1px solid #191919;
}

.splash {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  z-index: 1;
}
.splash_logo {
  position: absolute;
  margin: -15px 0 0 -25px;
  top: 50vh;
  z-index: 5;
  left: 50vw;
  width: 50px;
  text-align: center;
  height: 30px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
  will-change: opacity;
  -webkit-animation: logo .0s ease-in 0s forwards, off .0s ease-in-out 0m.2s forwards;
  -moz-animation: logo .0s ease-in 0s forwards, off .0s ease-in-out 0m.2s forwards;
  -o-animation: logo .0s ease-in 0s forwards, off .0s ease-in-out 0m.2s forwards;
  animation: logo .0s ease-in 0s forwards, off .0s ease-in-out 0m.2s forwards;
}
.splash_logo:before {
  display: block;
  position: absolute;
  left: 15px;
  bottom: -5px;
  width: 20px;
  height: 1px;
  background-color: #757474;
  content: "";
}
.splash_logo:after {
  display: block;
  position: absolute;
  left: 15px;
  top: -5px;
  width: 20px;
  height: 1px;
  background-color: #757474;
  content: "";
  will-change: width;
}
.splash_svg {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.splash_svg svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_svg svg rect {
  width: 100%;
  height: 100%;
  fill: #e7482c;
  stroke: 0;
  -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  -webkit-animation: expand .7s ease-in forwards 2.7s;
  -moz-animation: expand .7s ease-in forwards 2.7s;
  -o-animation: expand .7s ease-in forwards 2.7s;
  animation: expand .7s ease-in forwards 2.7s;
}
.splash_minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.splash_minimize svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_minimize svg rect {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  -moz-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  -o-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}

/* HTML Set up */
footer {
  background-color: #0e0202;
  color: rgb(26, 22, 22);
  margin: 0;
  @import 'https://fonts.googleapis.com/css?family=Open+Sans';
  font-family: "Open Sans", sans-serif;
}
footer .centered {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .centered .footer-logo {
  width: 20%;
}
footer .centered .footer-logo img.logo {
  padding: 30px 20px 10px 20px;
  max-width: 100%;
}
footer .centered .footer-contact {
  width: 20%;
}
footer .centered .footer-navigation {
  width: 60%;
}
footer .centered .footer-navigation .footer-links-holder {
  width: 33.33333%;
  position: relative;
  float: left;
  margin: 0;
}
footer .centered .footer-navigation .footer-links-holder .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
footer .bottom-bar {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
  footer .centered {
    flex-wrap: wrap;
  }
  footer .centered .footer-logo {
    max-width: 250px;
    width: 50%;
  }
  footer .centered .footer-contact {
    width: 50%;
    padding: 0 20px;
  }
  footer .centered .footer-navigation {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    padding: 0 20px;
  }
}
/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
  footer .centered .footer-logo {
    width: 100%;
    margin: 0 auto;
  }
  footer .centered .footer-contact {
    width: 100%;
  }
  footer .centered .footer-navigation .footer-links-holder {
    width: 100%;
    padding: 0;
  }
  footer .centered .footer-navigation .footer-links-holder h3 {
    margin: 0;
    padding: 10px 20px;
    border-top: #000 1px solid;
    cursor: pointer;
    /* Down Arrows */
  }
  footer .centered .footer-navigation .footer-links-holder h3::after {
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
  }
  footer .centered .footer-navigation .footer-links-holder .footer-links {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
  }
  footer .centered .footer-navigation .footer-links-holder.active h3::after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  footer .centered .footer-navigation .footer-links-holder.active .footer-links {
    max-height: 10000px;
  }
}
/* Social Icons */
.social {
  text-align: center;
}
.social a {
  display: inline-block;
  padding: 7px;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}
.social a:hover {
  background: #65c2ed;
}
.social a.linkedin {
  padding: 4px;
}
.social a svg .face, .social a svg .twit, .social a svg .link {
  fill: #000;
}

/* Typography */
footer h3 {
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 0;
}
footer p, footer li {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px 0;
}
footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}
footer a:hover {
  color: #65c2ed;
}

/* Misc CSS */
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-moz-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-o-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-webkit-keyframes hide {
  100% {
    fill: transparent;
  }
}
@-moz-keyframes hide {
  100% {
    fill: transparent;
  }
}
@-o-keyframes hide {
  100% {
    fill: transparent;
  }
}
@keyframes hide {
  100% {
    fill: transparent;
  }
}
@-webkit-keyframes off {
  100% {
    opacity: 0;
  }
}
@-moz-keyframes off {
  100% {
    opacity: 0;
  }
}
@-o-keyframes off {
  100% {
    opacity: 0;
  }
}
@keyframes off {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes on {
  100% {
    opacity: 1;
  }
}
@-moz-keyframes on {
  100% {
    opacity: 1;
  }
}
@-o-keyframes on {
  100% {
    opacity: 1;
  }
}
@keyframes on {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes logo {
  100% {
    color: #292929;
  }
}
@-moz-keyframes logo {
  100% {
    color: #292929;
  }
}
@-o-keyframes logo {
  100% {
    color: #292929;
  }
}
@keyframes logo {
  100% {
    color: #292929;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
}
@-moz-keyframes type {
  0% {
    width: 0;
  }
}
@-o-keyframes type {
  0% {
    width: 0;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-moz-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-o-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-webkit-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #e7482c;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #e7482c;
  }
}
@-moz-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #e7482c;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #e7482c;
  }
}
@-o-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #e7482c;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #e7482c;
  }
}
@keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: #e7482c;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: #e7482c;
  }
}

/*# sourceMappingURL=my.css.map */
